doctype html
html(lang="en")
    include ../includes/head.jade
    body
        include ../includes/header.jade
        .main
            .message
                include ../includes/messages.jade
            block main
            include ../includes/pages.jade
        
        include ../includes/foot.jade

            