script(src="/libs/jquery.min.js")
script(src="/libs/bootstrap/bootstrap.min.js")
script(src="/libs/tagsinput/jquery.tagsinput.min.js")
script(src="/libs/plugins/jquery.dragable.js")
script(src="/libs/plugins/jquery.plugins.js")



block foot
